body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  margin: 0px;
}

/* Header Section */

header {
  background-color: black;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 30;
  top: 0px;
}
header .logo {
  height: 50px;
  margin-left: 10px;
  display: inline-block;
}
nav a {
  margin-right: 30px;
  color: seashell;
  text-decoration: underline;
}

/* Main Content Below */

.main-content {
  text-align: center;
  opacity: 0.9;
}

/* Mission Section */

.mission-image {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  display: flex;
  align-items: center;
  margin: 0px auto;
  width: 1200px;
  height: 700px;
  position: relative;
  top: 69px;
}
.mission-text {
  background-color: black;
  width: 100%;
}

/* Tea of the Month Section */

.tea-of-the-month {
  width: 1000px;
  margin: 0px auto;
  padding: 100px 0 50px;
}
.three-pics {
  display: flex;
  justify-content: space-between;
}
.pic-title-combo {
  display: flex;
  flex-direction: column;
}
.pic-title-combo img {
  height: 200px;
  width: 300px;
}
.pic-title-combo h4 {
  margin-top: 10px;
}
.two-pics {
  display: flex;
  justify-content: center;
}
.two-pics .pic-title-combo {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
}

/* Locations Section */

.locations-image h2 {
  position: absolute;
  margin: -145px auto 0;
  padding: 15px 0;
  left: 0;
  right: 0;
}
.locations-image {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.locations {
  display: flex;
  width: 980px;
}
.location {
  background-color: black;
  width: 300px;
  margin: 0 20px;
  opacity: 1;
}

/* Footer Section */

.contact-info {
  height: 200px;
}
#copyright {
  text-align: left;
  padding-left: 20px;
}
